* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 80%;
    margin: auto;
    /* height: 500px; */
    /* background-color: #007bff; */
}

img {
    width: 100%;
}
.d-flex {
    display: flex;
}

.card {
    width: 100%;
    /* background-color: #dc2626; */
    border: 1px solid #dc2626;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card img {
    border-radius: 6px;
}

.mb-30 {
    margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
    .flex-direction-col-phone {
        flex-direction: column;
    }
}